<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ticket Servers</title>
</head>
<body>


  <form>
      <input type="text" placeholder="username" value="">
      <input type="text" placeholder="password" value="">
      <input type="submit" value="Login" onclick="fetchAbout(event)">
  </form>

</body>
</html>


<script>

  async function fetchAbout(e){
    e.preventDefault()
    const res = await fetch('http://localhost:8001/about')
    const data = await res.json()
    console.log('this is data ',data)
  
  }
</script>